__pycache__/
*.py[cod]

.venv/
venv/

video/*.mp4
video/*.avi

processed_data/*.csv
processed_data/*.json
processed_data/*.png

models/*.h5
models/*.pt

YOLOv4-tiny/
model_data/
video/*.mp4
video/*.avi
video/*.mov
processed_data/
models/*.h5
models/*.pt
__pycache__/
deep_sort/__pycache__/
*.pyc
.env